<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Learning Vue 3</title>
</head>
<body>
    <div id="app">

        <button @click="toggle">
            <span v-if="showBooks">Hide</span>
            <span v-else>Show</span>
        </button>

        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>

        <p v-show="showBooks">showing books</p>

    </div>



    <script src="./app.js"></script>
</body>
</html>